.loginWrapper {
    width: 100vw;
    background-color: aqua;
   display: flex;
   justify-content: center;
}

.email {
    background-color: blue;
}

.loginForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}